/* Enter your custom styles here */
.pagesh
{
	background-color:	#FDF5E6;
	text-align:center;
}
.formstyl
{
	width:100%;
}
.tablheader
{
	background-color: #FDF5E6;	
}
.greenTxtHlight {
    color: green;
}